<h2>Student Dashboard</h2>

<ul>
  <li *ngFor="let student of students"
      [ngClass]="{'topper': student.marks >= 80}"
      [ngStyle]="{'color': student.marks >= 40 ? 'green' : 'red'}">

    <b>{{ student.name }}</b> - {{ student.marks }}

    <!-- Pass/Fail -->
    <span *ngIf="student.marks >= 40; else fail">
      (Pass)
    </span>

    <ng-template #fail>
      (Fail)
    </ng-template>

    <!-- Grade -->
    <span [ngSwitch]="getGrade(student.marks)">
      <span *ngSwitchCase="'A'"> | Grade: A 🏆</span>
      <span *ngSwitchCase="'B'"> | Grade: B 👍</span>
      <span *ngSwitchCase="'C'"> | Grade: C 🙂</span>
      <span *ngSwitchDefault> | Grade: F ❌</span>
    </span>

  </li>
</ul>