<div class="section">
  <h2>Products</h2>

  <input [(ngModel)]="search" placeholder="Search products">

  <div class="products">
    <div class="card" *ngFor="let p of products">
      
      <div *ngIf="p.name.toLowerCase().includes(search.toLowerCase())">

        <h3 class="product-title">{{p.name}}</h3>
        <p class="price">₹{{p.price}}</p>
        <p>{{p.category}}</p>
        <p class="rating">⭐ {{p.rating}}</p>

        <button class="btn-primary" (click)="add.emit(p)">
          Add to Cart
        </button>

      </div>
    </div>
  </div>
</div>